@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins {
  font-family: "Poppins", sans-serif;
}
.rubik {
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* shared */
.center {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
.orange {
  color: #fd6f00;
}
.dark-3bg {
  background-color: hsla(0, 0%, 12%, 0.926);
}
.white {
  color: white;
}
.gray {
  color: #ffffff80;
}
.btn-primary {
  border-radius: 50px;
  width: 150px;
  height: 50px;
  padding: 5px;
  background-color: #fd6f00;
  font-size: 1.5rem;
  border: none;
}
/* nav */
nav {
  padding: 70px 200px 41px 200px;
}
.nav-container {
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  margin: auto 0;
}
.lines {
  display: none;
}
.nav-links {
  padding: 10px 14px;
  font-size: 1.4rem;
  margin-right: 40px;
}
.nav-anchors1 {
  gap: 52px;
  align-items: center;
}
.nav-anchors2 {
  margin-left: 24px;
  padding: 18px 26px;
  background-color: #fd6f00;
}
/* banner */
.banner-container {
  margin-left: 200px;
}
.banner-title {
  font-weight: 800;
  font-size: 2.5rem;
}
.banner-description {
  margin-top: 12px;
  margin-bottom: 28px;
}
.banner-span {
  font-weight: 300;
  font-size: 1.5rem;
  margin-right: 12px;
  margin-bottom: 32px;
}
.banner-btn {
  border: 2px solid rgba(255, 255, 255, 0.755);
  border-radius: 50px;
  padding: 10px;
  background-color: gray;
  margin-right: 253px;
  margin-bottom: 32px;
}
.dp {
  margin-right: 143px;
  margin-left: 300px;
}
.btn-a {
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 20px;
}
.banner-descripton {
  margin-bottom: 28px;
  margin-top: 12px;
}
.banner-icon {
  align-items: center;
  height: 25px;
  margin-right: 10px;
}
.links {
  gap: 35px;
}
/* About me */
.about-me {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-container {
  margin-left: 200px;
  margin-right: 200px;
  justify-content: space-between;
}
.about-container > h1 {
  margin-bottom: 20px;
}
.about-h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}
.about-h1-2 {
  font-size: 3rem;
  margin-top: 20px;
}
.about-p {
  text-align: end;
  font-size: 1.3rem;
}
.about-container-icon {
  gap: 7px;
  flex-direction: row-reverse;
}
/* exp */
.exp {
  padding: 100px 193px 100px 200px;
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  justify-content: space-between;
  gap: 85px;
}
.exp-1 {
  max-width: 460px;
}
.exp1-p {
  margin-bottom: 16px;
  font-size: 1.1rem;
  font-weight: 600;
}
.exp-h1 {
  margin-bottom: 24px;
}
.exp-2 {
  padding-right: 78px;
  width: 600px;
}
.exp2-p {
  font-weight: 700;
  font-size: 1.1rem;
}
.exp2-h {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}
.exp1-pp {
  font-size: 1rem;
}
.para {
  justify-content: space-between;
  margin-bottom: 12px;
}
.exp-container {
  margin-bottom: 40px;
}
/* Awards */
.awards {
  padding-left: 200px;
  padding-right: 173px;
  padding-bottom: 100px;
}
.awards > h1,
.awards > p {
  text-align: center;
}
.awards > h1 {
  padding-top: 100px;
}
.awards > p {
  padding-top: 20px;
  padding-bottom: 48px;
}
.award-box {
  background-color: black;
  margin-right: 200px;
  margin-left: 200px;
  padding: 42px 56px;
  margin-bottom: 27px;
}
.box-content {
  justify-content: space-between;
}
.award-box h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 24px;
}
.award-p2 {
  font-weight: 400;
  font-size: 1.1rem;
  width: 663px;
}
.award-p {
  font-weight: 700;
  font-size: 1.1rem;
}
/* My portfolio */
.portfolio {
  padding-left: 200px;
  padding-right: 200px;
}
.port-h1 {
  margin-bottom: 24px;
  font-weight: 800px;
  font-size: 2.5rem;
}
.port-link {
  font-size: 1.5rem;
  margin-left: 200px;
  margin-right: 200px;
  padding: 48px 136px;
}
.port-a {
  padding: 10px 20px;
  background-color: black;
  border: none;
  font-weight: 400px;
}
.port-links {
  justify-content: space-between;
}
.orange2 {
  background: rgba(253, 111, 0, 1);
}
.port-card {
  justify-content: space-around;
}
.port-card1-content {
  padding: 36px;
  padding-right: 0;
  max-width: 600px;
}
.card1-p1 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 24px;
}
.card1-p2 {
  font-size: 1.1rem;
}
.port-card h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 24px;
}
.port-card2 {
  margin-top: 60px;
  flex-direction: row-reverse;
}
/* Reach out me */
.reach-out {
  padding: 100px 193px 100px 200px;
}
.reach-out p {
  margin-bottom: 16px;
  font-size: 1.1rem;
}
.reach-out h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.form {
  margin-top: 60px;
  padding: 64px 114px;
  background: rgba(253, 111, 0, 0.1);
}
.form-content1 {
  border: none;
  justify-content: space-between;
}
.form-content11 {
  border-bottom: 1.5px white solid;
}
.form-content1 input {
  width: 500px;
  height: 34px;

  background-color: transparent;
  border: none;
}
.form-content2 {
  margin-top: 56px;
}
.form-content2 input {
  background-color: transparent;
  border: none;
  color: white;
}
::placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
}
.form-span {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 16px;
  margin-bottom: 40px;
}
.form-btn {
  color: white;
  border-radius: 0px;
  font-weight: 500;
  font-size: 1.1rem;
}

/* footer */
footer {
  background-color: black;
  padding-top: 112px;
}
footer h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 33px;
}
.footer-link {
  width: 810px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 10px 14px;
  margin-bottom: 80px;
}
.footer-link a {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.footer-icon {
  margin: 0 auto;
  max-width: fit-content;
  margin-bottom: 62px;
}
.footer-right {
  background-color: rgba(18, 18, 18, 1);
  padding: 26px;
}
.footer-right p {
  font-size: 1.4rem;
}

/* media query */
@media screen and (max-width: 576px) {
  .nav-container {
    margin-left: -180px;
  }
  .nav-links {
    display: none;
  }
  .lines {
    display: block;
    margin-left: 250px;
  }
  .banner {
    flex-direction: column;
    height: 700px;
  }
  .banner-container {
    margin-left: 20px;
  }
  .dp {
    display: none;
  }
  .banner-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .banner-icon {
    display: none;
  }
  .banner-btn {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .links {
    margin-top: 50px;
    justify-content: space-around;
  }
  .about-container {
    flex-direction: column;
    margin: 0 auto;
    gap: 50px;
  }
  .about-container1 {
    margin-bottom: 0 auto;
    padding: 10px;
    margin-left: 10px;
  }
  .about-container-icon {
    justify-content: start;
    margin-left: 20px;
  }
  .about-p,
  .about-h1-2 {
    text-align: start;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .exp {
    flex-direction: column;
    padding: 15px;
  }
  hr {
    display: none;
  }
  .exp-para {
    display: none;
  }
  .awards {
    padding: 10px;
  }
  .award-box,
  .portfolio,
  .reach-out {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
  }
  .award-p {
    text-align: end;
  }
  .award-p2 {
    max-width: 330px;
  }
  .port-link {
    display: none;
  }
  .port-card {
    flex-direction: column;
  }
  .port-card img {
    margin-top: 50px;
    width: 350px;
  }
  .port-card1-content {
    width: 200px;
  }
  .form {
    padding: 10px;
  }
  .form-content1 input {
    width: 200px;
  }
  .form-content1 {
    flex-direction: column;
    gap: 30px;
  }
  .footer-link {
    width: 310px;
    flex-direction: column;
    gap: 20px;
  }
}
