@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
* {
  margin-left: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}
.colors{
    color: #FD6F00;
}
body {
  background-color: black;
}
.nav{
    
}
.container {
    margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  font-size: 21px;
  font-weight: 400px;
}
.container-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
button {
  background-color: #fd6f00;
  padding: 10px;
  border: none;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 21px;
}
.logo {
  padding: 10px;
  font-weight: 900px;
  font-size: 32px;
  color: #fd6f00;
}
/* Banner */
.title {
  color: white;
  font-size: 40px;
}
.banner {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 41px;
}
.description {
  width: 600px;
}
.dp {
  border: 2px solid wheat;
  width: 500px;
  border-radius: 50%;
  clip-path: circle(40.0% at 50% 50%);
}
.btn-3 {
  border-radius: 25px;
  width: 150px;
  height: 50px;
  padding: 5px;
  border: 5px solid rgba(255, 255, 255, 0.755);
}
.links{
  margin-top: 50px;
  display:flex;
  gap: 20px;
}
p{
  font-size: 18px;
  color: white;
  opacity: 50%;
}
